.partition {
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.heading {
    color: #383838;
    font-size: 4rem;
    margin-top: -7rem;
}

.users {
    height: 15rem;
    margin-top: -1rem;
    margin-bottom: 5rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* flex: 1; */
    width: 50%;
    background-color: #c7ffff;
}


.content {
    /* border: 0.1rem solid gray; */
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    align-items: center;
    flex: 1;
}

.my-input {
    flex: 1;
    padding: 0.8rem;
    margin: 0.5rem;
    width: 160%;
    border-color: rgba(128, 128, 128, 0.147);
    border-radius: 0.25rem;
}

.button-position {
    display: flex;
    position: absolute;
    right: 13%;
}


.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.1rem solid gray;  */
    width: 170%;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.tabs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-active {
    color: #f93a13;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 0.25rem solid #f93a13;
    padding: 0.1rem 4rem;
    transition: 0.5s ease-out;
}

.tabs-active p {
    font-weight: bold;
}

.tabs-inactive {
    color: #686868;
    cursor: pointer;
    font-weight: 600;
}

.tabs-inactive > div {
    visibility: hidden;
}

.signup {
    /* background-color: #f93a13; */
    position: absolute;
    top: 38rem;
    padding: 1rem;
    margin-left: 5rem;
    text-decoration: none;
}

.signup p {
    font-size: 0.9rem;
    color: #686868;
}

.link {
    text-decoration: none;
    /* background-color: #f93a13; */
    color: #f93a13;
}
