.home {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.content {
    /* border: 0.1rem solid gray; */
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hide {
    display: none;
}

.content h1 {
    font-size: 3.2rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    color: #383838;
}

.content p {
    font-size: 1.2rem;
    color: #5a5a5a;
}

.my-image {
    /* background-color: aqua; */
    display: flex;
    align-items:flex-end;
    height: 80vh;
}

.my-image img{
    height: 30rem;
}

.left {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    height: 80vh;
}

.button-1 {
    padding: 0.6rem 1.5rem;
    border: 0.1rem solid #ff7426;
    border-radius: 0.2rem;
    transform: scale(0.9);
    cursor: pointer;
}

.button-1:hover {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    /* border: 0.1rem solid #fff; */
    color: #fff;
}

.box-align {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #ffae80;
    width: 92%;
    height: 20vh;
}

.my-footer {
    background-color: #c7ffff;
    margin-top: 5rem;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-footer h2 {
    color: #3b3b3b;
}

.footer-links {
    display: flex;
}

.footer-links p {
    margin: 0 1rem;
    color: #5a5a5a;
}

.icons {
    margin: 0 0.5rem;
    color: #5a5a5a;
    cursor: pointer;
}

.icons:hover {
    color: #ff7426;
}

.rights {
    font-size: 0.8rem;
}

.link {
    text-decoration: none;
    color: #5a5a5a;
    cursor: pointer;
}

