.partition {
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* background-color: #f93a13; */
}

.heading {
    color: #383838;
    font-size: 4rem;
    margin-top: -4rem;
}

.users {
    height: 15rem;
    margin-top: -1rem;
    margin-bottom: 5rem;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    /* margin-left: -2rem; */
    background-color: #c7ffff;
}

.content {
    /* border: 0.1rem solid gray; */
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.my-input {
    padding: 0.8rem;
    margin: 0.5rem;
    width: 80%;
    border-color: rgba(128, 128, 128, 0.147);
    border-radius: 0.25rem;
}

.button-position {
    display: flex;
    justify-content: flex-end;
    margin-right: 11%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 0.1rem solid gray; */
    width: 85%;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.tabs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-active {
    color: #f93a13;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 0.25rem solid #f93a13;
    padding: 0.1rem 4rem;
    transition: 0.5s ease-out;
}

.tabs-active p {
    font-weight: bold;
}

.tabs-inactive {
    color: #686868;
    cursor: pointer;
    font-weight: 600;
}

.tabs-inactive > div {
    visibility: hidden;
}
.form-data select {
    width:86%;
    padding: 0.8rem 0.6rem;
    margin-left: 0.5rem;
    color: #f4fefe;
    background-color: #ff7626bf;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.form-data option {
    background-color: #f4f4f4;
    color: #383838;
}

.form-data option:hover{
    background-color: #f4fefe;
}

.my-link {
    /* background-color: #f93a13;    */
    /* position: absolute; */
    top: 38rem;
    padding: 1rem;
    margin-left: 5rem;
    text-decoration: none;
}

.my-link p {
    font-size: 0.9rem;
    color: #686868;
}

.link {
    text-decoration: none;
    /* background-color: #f93a13; */
    color: #f93a13;
}