.nav-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.content {
    display: flex;
    justify-content: space-around;
    background-color: #c7ffff;
    align-items: center;
    padding: 0 2rem;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    padding: 0 1rem;
    color: #5a5a5a;
    padding: 1rem 1.5rem;
    transition: 0.2s;
}

.navigation li a:hover {
    border-bottom: 2px solid #f93a13;
    transition: ease-out;
    color: #3b3b3b;
    /* font-size: 1.1rem; */
}

.account {
    display: flex;
    list-style: none;
    /* background-color: aliceblue; */
    /* padding: 1rem 1.5rem; */
    margin-left: 4rem;
}

.account li {
    /* margin-left: 1rem; */
    margin-right: 2.5rem;
}

.account li a {
    text-decoration: none;
    /* color: #fff; */
}

.my-button {
    padding: 0.6rem 1.5rem;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
}

.my-button a {
    color: #fff;
}

.button2 {
    padding: 0.6rem 1.5rem;
    border: 0.1rem solid #ff7426;
    border-radius: 0.2rem;
    transform: scale(0.9);
    cursor: pointer;
}

.button2:hover {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    color: #fff;
}

.button2 a {
    color: #3b3b3b;
}

.button2:hover > a {
    color: #fff;
}

.buttons {
    color: #fff;
    cursor: pointer;
}